{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react",
    "prettier"
  ],
  "rules": {
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-associated-control": ["error", { "assert": "either" }],
    "no-restricted-syntax": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "custom": "ignore",
        "explicitSpread": "enforce",
        "html": "enforce"
      }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
