form {
  margin: 1rem auto 0;
  max-width: 60em;
  padding: 1rem;
  width: 100%;
}

form > * + * {
  margin-top: 0.75rem;
}

label {
  display: block;
  font-weight: 700;
}

label > span {
  font-weight: normal;
}

input {
  border: 1px solid var(--color-base-light);
  border-radius: 0.25rem;
  display: inline-block;
  margin-top: 0.25rem;
}

input:focus {
  border-color: var(--color-primary-dark);
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
  margin-right: 1em;
}

[type="text"] {
  max-width: 24em;
  padding: 0.5rem;
  width: 100%;
}